/* =================
   Table of Contents

   1. Global Styles: Global styles for my project.

   2. Layout: Styles related with layout, e.g. header, nav, main, section, footer, div, etc.

   3. Typography: Styles related to text, e.g. h1, h2, p, etc.

   4. Assets: Styles related with the assets of the project, e.g. images, svg, etc.
   ================= */

/* =================
   1. Global Styles
   ================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* primary */
  --light-grey: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  /* neutral */
  --white: hsl(0, 0%, 100%);

  margin: 0;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}

/* =================
   2. Layout
   ================= */

.container {
  background-color: var(--white);
  padding: 1em;
  border-radius: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  animation: load-container 2s;
}

@keyframes load-container {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY();
  }
}

.text-container {
  padding: 0 0.75em;
}

/* =================
   3. Typography
   ================= */

.title {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.25rem;
  text-align: center;
  color: var(--dark-blue);
  animation: load-title 2s;
}

@keyframes load-title {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

.description {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1rem;
  text-align: center;
  color: var(--grayish-blue);
  animation: load-description 2s;
}

@keyframes load-description {
  0% {
    transform: translateY(3000%);
  }
  100% {
    transform: translateY(0);
  }
}

/* =================
   4. Assets 
   ================= */

.image {
  width: 100%;
  border-radius: 1em;
  animation: load-image 2s;
}

@keyframes load-image {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
